/* 
Joshua Go 
Web Development
Assignment 4
11/18/19
*/

h3 {
    margin-top: 3vh;
    margin-bottom: 5vh;
    margin-left: 3vw;
}

.crop {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    overflow: hidden;
}

.crop-carousel {
    width: 100vw;
    height: 45vh;
    object-fit: cover;  
    overflow: hidden;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.4);
    padding-top: 10px;
    padding-bottom: 0;
}

.figure-caption {
    color: black;
    font-weight: bold;  
    font-size: large;
}

.container {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.customer-review-section {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.customer-review-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

