/* 
    Joshua Go 
    Web Development
    Assignment 4
    11/18/19
*/

h3 {
    margin-top: 3vh;
    margin-bottom: 5vh;
    margin-left: 3vw;
}

.crop {
    width: 100%;
    height: auto;
    /* object-fit: cover; */
    overflow: hidden;
}

.crop-carousel {
    width: 100vw;
    height: 45vh;
    object-fit: cover;  
    overflow: hidden;
}

.carousel-caption {
    background-color: rgba(0,0,0,0.4);
    padding-top: 10px;
    padding-bottom: 0;
}

.figure-caption {
    color: black;
    font-weight: bold;  
    font-size: large;
}

.container {
    margin-top: 3vh;
    margin-bottom: 5vh;
}

.customer-review-section {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.customer-review-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.recommended-products-section {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

.recommended-products-section p {
    font-size: x-large;
}

.carousel {
    margin-bottom: 5vh;
}

.button {
    background-color: rgb(70, 159, 219);
    border: none;
    color: white;
    padding: 15px 32px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: large;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: large;
  color: black;
}